.rjsf > .form-group {
  margin-bottom: 24px;
}

fieldset {
  width: 100%;
}

.field-heading {
  margin-bottom: 12px;
}
.field-heading > h3 {
  margin-bottom: 0;
}

.field-prim {
  display: flex;
}
.field-prim > .field-value {
  flex-grow: 1;
}
.field-prim > label {
  min-width: 120px;
  margin: 0;
  margin-right: 12px;
  font-weight: bold;
  line-height: 34px;
  text-align: right;
}

form select {
  height: 38px;
  padding: 0.5em;
  border: 1px solid #ddd;
  width: 100%;
}

.field-comp > * {
  margin: 12px 0;
}
.field-comp > :first-child { margin-top: 0; }
.field-comp > :last-child { margin-bottom: 0; }

i.icon.array-rm-item {
  display: block;
  margin-left: 12px;
  margin-top: 4px;
}

.array-item {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.array-item > .field {
  flex-grow: 1;
}

.field-object {
  border: 4px solid #eee;
  padding: 18px 24px;
  border-radius: 4px;
}

.field-help {
  margin-top : 4px;
  color: #999;
}

ul.error-detail {
  padding: 0;
  margin: 0;
}

ul.error-detail > li {
  display: inline-block;
  background: #fcc;
  padding: 2px 12px;
  border-radius: 4px;
  color: firebrick;
}

/* WORKAROUND: many empty <div> elements are in the Form! */
div:empty, p:empty {
  display: none;
}
